#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors.
flake8>=4.0.1

# Static type checking
mypy==0.961

# Automatic code formatting
black==22.6.0

# Allows generation of coverage reports with pytest.
pytest-cov>=3.0.0

#### PACKAGE-UPLOAD PACKAGES ####

# Pypi uploads
twine>=1.11.0,<5.0.0
setuptools
wheel